@import "tailwindcss"; 
@import "leaflet/dist/leaflet.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



/* styles/globals.css */
.leaflet-marker-icon.user-icon-glow {
  filter: drop-shadow(0 0 6px rgba(0, 200, 255, 0.8))
          drop-shadow(0 0 12px rgba(0, 200, 255, 0.6));
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.15); opacity: 0.8; }
  100% { transform: scale(1); opacity: 1; }
}
