@import "tailwindcss"; 
@import "leaflet/dist/leaflet.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #0a0a0a;
}

@keyframes spin-once {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.animate-spin-once {
  animation: spin-once 0.6s ease-out;
}
.transition-width {
  transition: width 0.2s ease-out;
}

@keyframes rotate-180 {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}
.rotate-180 {
  animation: rotate-180 0.7s ease-out;
}

/* tags moving */
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 40s linear infinite;
}
